

<h2>@ViewBag.title</h2>

 
<form method="post" asp-action= " GetOrderPage" >
    <label>Name</label>
    <br />
    <input type="text" name="name" />
    <br />
    <label> Price</label>
    <br />
    <input type="number" name="price"  />
    <br />
    <br />
    <button type="submit" >Add</button>
     
</form>
