<h2>@ViewBag.title</h2>


<form method="post" asp-action="GetOrderList">
<label>ID</label>
<br />
<input type="number" name="Id" />
<br />
<label> Date</label>
<br />
<input type="date" name="date" />
<br />
<br />
<button type="submit">Add</button>

</form>
