
@model List<ProductInventry.Data.Entities.AddProduct>

@{

}

<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }

        table#t01 {
            width: 100%;
            background-color: #f1f1c1;
        }
    </style>
</head>
<h2>@ViewBag.id</h2>
<body>
    @using (Html.BeginForm("SaveOrder", "App"))
    {
        <table>
            @for(int i = 0; i < Model.Count; i++)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].Name)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => modelItem[i].Price)
                    </td>
                    <td>
                        <input type="text" name="[@i].Quantity" value="0" />
                    </td>

                    <td>
                        <input id="Id" name="[@i].Id" type="hidden" value="@Model[i].Id">
                    </td>


                </tr>

            }

        </table>
        <input class="button" id="submit" type="submit" value="Create Order" />
    }
</body>











