  @{
      ViewBag.Title = "Home Page";
  }

  
       

        <div id="theForm">
           
                <input type="button" value="Add Product" onclick="window.location.href='/app/GetAddPage'"  />
                <input type="button" value="Create Order" onclick="window.location.href='/app/GetOrderPage'" />
                <input type="button" value="ListOrder"  onclick="window.location.href='/app/OrderList'"/>



               <!-- <a asp-controller="App" asp-action="GetProductListPage" asp-route-id="@ViewBag.id">
                <button  type="submit">ListOrder</button>
                </a>-->
        </div>
        <script src="js/index.js">
        </script>
